.selected {
    background-color: #007bff !important;
    color: white !important;
    border-color: #007bff !important;
}
  .btn btn-outline-primary w-100 answer-btn {color:(rgb(235, 20, 217));}

  #result-blue {background-color: rgb(138, 208, 243);color:#021f3e}
    #result-green {background-color: rgb(148, 238, 148);color:#063e02}
    #result-brown {background-color: rgb(169, 121, 97);color:#3e3002}
    #result-red {background-color: rgb(243, 138, 138);color:#3e0202}
    #result-rainbow {background-color: rgb(216, 128, 216);color:rgb(51, 50, 13)}
    #announce {color: rgb(0, 0, 0); font-size: 24px; font-weight: bold;}
